page-info {
    .perfil-bg{
        
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .perfil-title{
        font-family: pacifico;
        color: #182496;
        font-size: 2em;
        text-align: center;
    }
}
